*{
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    background: #222;
    color: #fff;
}

header{
    margin-bottom: 30px;
    color: orangered;
    font-size: 1.2 em;
}

nav{
    background: darkolivegreen;
    padding: 8px;
}